In [43]:
import pandas as pd

In [44]:
df = pd.read_json("book-progression.json", orient="records")

In [45]:
df

   id                                              tasks requires
0   A                                              [000]       []
1   B  [001, 002, 003, 004, 005, 006, 007, 008, 009, ...      [A]
2   C  [013, 014, 015, 016, 017, 018, 019, 020, 021, ...      [A]
3   D      [025, 026, 027, 028, 029, 030, 031, 032, 033]      [A]
4   E           [034, 035, 036, 037, 038, 039, 040, 041]      [A]
5   H                [051, 052, 053, 054, 055, 056, 057]      [A]
6   F  [059, 060, 061, 062, 043, 063, 044, 045, 046, ...      [A]
7   K  [090, 091, 092, 093, 094, 095, 096, 097, 098, ...      [A]
8   G  [050, 068, 069, 070, 071, 072, 073, 074, 075, ...      [A]
9   J  [077, 078, 079, 080, 081, 082, 083, 084, 085, ...      [A]
10  I                                    [058, 101, 102]      [A]

In [46]:
df_book = df[["id", "requires"]]

In [47]:
df_book.rename(columns={"id": "book_id"})

   book_id requires
0        A       []
1        B      [A]
2        C      [A]
3        D      [A]
4        E      [A]
5        H      [A]
6        F      [A]
7        K      [A]
8        G      [A]
9        J      [A]
10       I      [A]

In [48]:
df = df.drop(columns=["requires"])

In [56]:
df_tasks = pd.DataFrame(columns=["id", "book_id", "tasks"])
id = 0
for i in range(len(df)):
    for n in range(len(df["tasks"][i])):
        new_line = {"id":int(id), "book_id":df["id"][i], "tasks":df["tasks"][i][n]}
        df_tasks = df_tasks.append(new_line, ignore_index=True)
        id += 1

In [57]:
df_tasks

    id book_id tasks
0    0       A   000
1    1       B   001
2    2       B   002
3    3       B   003
4    4       B   004
..  ..     ...   ...
95  95       J   085
96  96       J   086
97  97       I   058
98  98       I   101
99  99       I   102

[100 rows x 3 columns]

In [58]:
df_tasks.to_csv(path_or_buf="book_task.csv", sep=",")

In [59]:
df_book.to_csv(path_or_buf="book_requires.csv", sep=",")