In [55]:
import pandas as pd
import datetime

In [56]:
#json einlesen
df_daten = pd.read_json("dump-stg-api.json", orient="records")
print(df_daten)

                                     _id  \
0   {'$oid': '6123b80df66ddb7127c2abfd'}
1   {'$oid': '612ca185f66ddb4497c2abfe'}
2   {'$oid': '6130bb10f66ddb7ebdc2abff'}
3   {'$oid': '6130c0d5f66ddb9bf3c2ac00'}
4   {'$oid': '6144421471a7cc0acf1a3bd1'}
..                                   ...
67  {'$oid': '6204c6c41c2f8b688bef4b29'}
68  {'$oid': '6204c8811c2f8ba5d1ef4b2a'}
69  {'$oid': '6204d5011c2f8b4689ef4b2b'}
70  {'$oid': '6204d64d1c2f8bbb93ef4b2c'}
71  {'$oid': '6205117f1c2f8b6e27ef4b2d'}

                                              history
0   {'task-000': [{'correct': False, 'date': 16297...
1   {'task-000': [{'correct': True, 'date': 163031...
2   {'task-000': [{'correct': True, 'date': 163058...
3   {'task-000': [{'correct': True, 'date': 163058...
4                                                 NaN
..                                                ...
67  {'task-000': [{'correct': True, 'date': 164448...
68  {'task-000': [{'correct': True, 'date': 164448...
69  {'task-000': [{'correct': True, 'date': 164448...
70  {'task-000': [{'correct': False, 'date': 16444...
71  {'task-000': [{'correct': False, 'date': 16444...

[72 rows x 2 columns]

In [57]:
df_daten_clean = df_daten

In [58]:
df_na_rows = df_daten_clean.isna()

In [59]:
df_daten_clean

,_id,history
0,{'$oid': '6123b80df66ddb7127c2abfd'},"{'task-000': [{'correct': False, 'date': 16297..."
1,{'$oid': '612ca185f66ddb4497c2abfe'},"{'task-000': [{'correct': True, 'date': 163031..."
2,{'$oid': '6130bb10f66ddb7ebdc2abff'},"{'task-000': [{'correct': True, 'date': 163058..."
3,{'$oid': '6130c0d5f66ddb9bf3c2ac00'},"{'task-000': [{'correct': True, 'date': 163058..."
4,{'$oid': '6144421471a7cc0acf1a3bd1'},NaN
...,...,...
67,{'$oid': '6204c6c41c2f8b688bef4b29'},"{'task-000': [{'correct': True, 'date': 164448..."
68,{'$oid': '6204c8811c2f8ba5d1ef4b2a'},"{'task-000': [{'correct': True, 'date': 164448..."
69,{'$oid': '6204d5011c2f8b4689ef4b2b'},"{'task-000': [{'correct': True, 'date': 164448..."
70,{'$oid': '6204d64d1c2f8bbb93ef4b2c'},"{'task-000': [{'correct': False, 'date': 16444..."
71,{'$oid': '6205117f1c2f8b6e27ef4b2d'},"{'task-000': [{'correct': False, 'date': 16444..."

In [60]:
#ID $oid entfernen
for i in range(len(df_daten_clean)):
    df_daten_clean["_id"][i] = df_daten_clean["_id"][i]["$oid"]

In [61]:
#Columns Dataframe
df_structure = pd.DataFrame(columns=["log_id", "correct", "query", "date1", "task"])

In [62]:
df_structure

Empty DataFrame
Columns: [log_id, correct, query, date1, task]
Index: []

In [63]:
#Json in Dataframe umwandeln
index_value = 0
for i in range(len(df_daten_clean)):
    print(i)
    if df_na_rows["history"][i]:
        pass
    else:
        split = df_daten_clean["history"][i]
        print(split)
        keys = split.keys()
        for n in keys:
            for k in range(len(split[n])):
                index_value += 1
                dict_copy = split[n][k]
                if "\n" in dict_copy["query"] or "\t" in dict_copy["query"]: #Newline in query und tab in query entfernen fÃ¼r die Datenbank
                    dict_copy["query"] = dict_copy["query"].replace("\n", " ")
                    dict_copy["query"] = dict_copy["query"].replace("\t", "")
                new_line = pd.DataFrame({"correct": dict_copy["correct"], "query": dict_copy["query"] , "date1": dict_copy["date"], "task": n, "log_id": df_daten_clean["_id"][i]}, index=[index_value])
                df_structure = df_structure.append(new_line) #append to dataframe

0
{'task-000': [{'correct': False, 'date': 1629799177614, 'query': 'from ghosts SELECT name'}, {'correct': True, 'date': 1629799183760, 'query': 'SELECT name from ghosts'}], 'task-086': [{'correct': True, 'date': 1641556069420, 'query': "SELECT north_zone.squaremeter/count(*)\n\tFROM (SELECT zone, sum(squaremeter) squaremeter\n\t\tFROM zoo_cage\n\t\tWHERE zone = 'north'\n\t\tGROUP BY zone) north_zone INNER JOIN \n\t\tzoo_cage c ON (north_zone.zone = c.zone) INNER JOIN\n\t\tzoo_animal a ON (c.id = a.cage_id)\n\tGROUP BY c.zone, north_zone.squaremeter;"}], 'task-051': [{'correct': False, 'date': 1641657641744, 'query': 'SELECT p.name FROM GHOSTS g INNER JOIN PLACES p ON p.id = g.place_id'}, {'correct': True, 'date': 1641657666159, 'query': 'SELECT p.name FROM GHOSTS g INNER JOIN PLACES p ON p.id = g.place_id WHERE g.name = "Arthur"'}]}
1
{'task-000': [{'correct': True, 'date': 1630314930169, 'query': 'SELECT name from ghosts'}]}
2
{'task-000': [{'correct': True, 'date': 1630583648145, 'query': 'SELECT name from ghosts'}], 'task-001': [{'correct': True, 'date': 1630583908432, 'query': 'SELECT name from ghosts'}], 'task-002': [{'correct': True, 'date': 1630583938527, 'query': 'SELECT name, year from ghosts'}], 'task-003': [{'correct': False, 'date': 1630583969272, 'query': 'SELECT year FROM GHOSTS name = "Sieglinde"'}, {'correct': True, 'date': 1630584008227, 'query': 'SELECT year FROM GHOSTS WHERE name = "Sieglinde"'}], 'task-004': [{'correct': True, 'date': 1630584164193, 'query': 'SELECT name FROM ghosts where year > 1800'}], 'task-005': [{'correct': False, 'date': 1630584193876, 'query': 'select name from ghosts where year <= 1765'}, {'correct': False, 'date': 1630584231321, 'query': 'select name from ghosts where year <= 1777 and year >= 1765'}, {'correct': True, 'date': 1630584275788, 'query': 'select name from ghosts where year <= 1799 and year >= 1700'}], 'task-006': [{'correct': False, 'date': 1630584302822, 'query': 'select name from ghosts where year < 1820'}, {'correct': False, 'date': 1630584326686, 'query': 'select * from ghosts where year < 1820'}, {'correct': False, 'date': 1630584334539, 'query': 'select * from ghosts'}, {'correct': True, 'date': 1630584361140, 'query': 'select name from ghosts order by name'}], 'task-007': [{'correct': True, 'date': 1630584389642, 'query': 'select name from ghosts order by year desc'}], 'task-008': [{'correct': True, 'date': 1630584447842, 'query': 'SELECT DISTINCT year FROM ghosts'}], 'task-034': [{'correct': False, 'date': 1633092616442, 'query': 'SELECT g.name, p.name FROM ghosts p, places g WHERE g.place_id == p.id'}, {'correct': True, 'date': 1633092639058, 'query': 'SELECT g.name, p.name FROM ghosts g, places p WHERE g.place_id == p.id'}], 'task-031': [{'correct': False, 'date': 1634133580415, 'query': "select 'Shadowland', 2\nfrom dual"}, {'correct': False, 'date': 1634133594865, 'query': "select 'Shadowland', 2\nfrom wizards\nwhere id = 1"}, {'correct': True, 'date': 1634133655466, 'query': 'select area, count(*)\nfrom wizards\nwhere skill = 5\ngroup by area'}], 'task-035': [{'correct': False, 'date': 1634133763170, 'query': 'SELECT p.name FROM GHOSTS g, PLACES p WHERE p.id = g.place_id AND p.name = "Arthur"'}, {'correct': True, 'date': 1634133776466, 'query': 'SELECT p.name FROM GHOSTS g, PLACES p WHERE p.id = g.place_id AND g.name = "Arthur"'}], 'task-036': [{'correct': True, 'date': 1634133872249, 'query': "SELECT g.name\nFROM ghosts g INNER JOIN places p ON g.place_id = p.id\nWHERE p.name = 'forest'"}]}
3
{'task-000': [{'correct': True, 'date': 1630585132672, 'query': 'SELECT name from ghosts'}], 'task-001': [{'correct': True, 'date': 1630585217143, 'query': 'SELECT name from ghosts'}], 'task-002': [{'correct': True, 'date': 1630585235092, 'query': 'SELECT name, year from ghosts'}], 'task-003': [{'correct': True, 'date': 1630585265245, 'query': 'SELECT year FROM GHOSTS WHERE name = "Sieglinde"'}], 'task-004': [{'correct': True, 'date': 1630585308023, 'query': 'SELECT name FROM ghosts WHERE year > 1800;'}], 'task-005': [{'correct': False, 'date': 1630585355564, 'query': 'SELECT name from ghosts where year between(1700, 1799);'}, {'correct': True, 'date': 1630585420413, 'query': 'SELECT name from ghosts where year < 1800 and year >= 1700'}], 'task-012': [{'correct': True, 'date': 1630585490029, 'query': "SELECT DISTINCT NAME FROM Ghosts WHERE YEAR='1650' ORDER BY NAME DESC"}, {'correct': True, 'date': 1630585490205, 'query': "SELECT DISTINCT NAME FROM Ghosts WHERE YEAR='1650' ORDER BY NAME DESC"}], 'task-013': [{'correct': False, 'date': 1630585571747, 'query': 'select name from ghosts where year < 1700 and year >= 1600 order by year,name;'}, {'correct': False, 'date': 1630585589709, 'query': 'select name from ghosts where year < 1700 and year >= 1600 order by year desc,name asc;'}, {'correct': False, 'date': 1630585599739, 'query': 'select name, year from ghosts where year < 1700 and year >= 1600 order by year desc,name asc;'}, {'correct': True, 'date': 1630585610359, 'query': 'select id, name, year from ghosts where year < 1700 and year >= 1600 order by year desc,name asc;'}]}
4
5
{'task-000': [{'correct': True, 'date': 1631873750160, 'query': 'SELECT name from ghosts'}]}
6
{'task-000': [{'correct': True, 'date': 1631864220524, 'query': 'SELECT name from ghosts'}], 'task-001': [{'correct': False, 'date': 1631864336806, 'query': 'SELECT name FROM ghost'}, {'correct': False, 'date': 1631864340851, 'query': 'SELECT name FROM ghost'}, {'correct': False, 'date': 1631864344337, 'query': 'SELECT name FROM ghost'}, {'correct': True, 'date': 1631864361884, 'query': 'SELECT name from ghosts'}], 'task-002': [{'correct': True, 'date': 1631864482405, 'query': 'SELECT name, year from ghosts'}], 'task-003': [{'correct': False, 'date': 1631864532788, 'query': 'SELECT year WHERE FROM GHOSTS name = "Sieglinde"'}, {'correct': False, 'date': 1631864543044, 'query': 'SELECT year WHERE name = "Sieglinde" FROM GHOSTS'}, {'correct': False, 'date': 1631864564780, 'query': 'SELECT year WHERE name IS "Sieglinde" FROM GHOSTS'}, {'correct': False, 'date': 1631864601008, 'query': 'SELECT year WHERE name IS "Sieglinde" FROM GHOSTS'}, {'correct': True, 'date': 1631864623513, 'query': 'SELECT year FROM GHOSTS WHERE name = "Sieglinde"'}, {'correct': True, 'date': 1631864623734, 'query': 'SELECT year FROM GHOSTS WHERE name = "Sieglinde"'}], 'task-004': [{'correct': False, 'date': 1631864688355, 'query': 'select name from Ghosts where id in (2,5)'}, {'correct': False, 'date': 1631864688557, 'query': 'select name from Ghosts where id in (2,5)'}, {'correct': False, 'date': 1631864741094, 'query': 'select name from Ghosts'}, {'correct': False, 'date': 1631864796182, 'query': 'select name from Ghosts where id=2'}, {'correct': False, 'date': 1631864814711, 'query': 'select name from Ghosts where id=2 or id=5'}, {'correct': False, 'date': 1631864857216, 'query': 'select name from Ghosts where id=2 or id=4'}, {'correct': False, 'date': 1631864877010, 'query': 'select name from Ghosts where id=2 or id=5'}, {'correct': False, 'date': 1631864917550, 'query': 'select name from Ghosts where id=2 or id=5'}, {'correct': False, 'date': 1631864933840, 'query': 'select name from Ghosts where id=2 or id=4'}, {'correct': False, 'date': 1631864960272, 'query': 'select name from Ghosts where id=2 or id=4'}, {'correct': False, 'date': 1631864960482, 'query': 'select name from Ghosts where id=2 or id=4'}, {'correct': False, 'date': 1631864971115, 'query': 'select name from Ghosts where id=2 or id=5'}, {'correct': False, 'date': 1631865021352, 'query': 'select name from Ghosts where where year > 1800'}, {'correct': False, 'date': 1631865043003, 'query': 'select name from Ghosts where where year > 1800'}, {'correct': True, 'date': 1631865052017, 'query': 'select name from Ghosts where year > 1800'}], 'task-005': [{'correct': True, 'date': 1631865119713, 'query': 'select name from Ghosts where year >1700 and year <1800'}], 'task-006': [{'correct': False, 'date': 1631865202187, 'query': 'select name from Gosts sorted by name asc'}, {'correct': False, 'date': 1631865213737, 'query': 'select name from Gosts sorte name asc'}, {'correct': False, 'date': 1631865232735, 'query': 'select name from Gosts order by name asc'}, {'correct': True, 'date': 1631865241600, 'query': 'select name from Ghosts order by name asc'}], 'task-007': [{'correct': False, 'date': 1631865307180, 'query': 'select name from Ghosts order year desc'}, {'correct': True, 'date': 1631865316376, 'query': 'select name from Ghosts order by year desc'}], 'task-008': [{'correct': True, 'date': 1631865393376, 'query': 'SELECT DISTINCT year FROM ghosts'}], 'task-009': [{'correct': False, 'date': 1631865443587, 'query': 'select name from Ghosts order by year asc'}, {'correct': False, 'date': 1631865469484, 'query': 'select * from Ghosts order by year asc'}, {'correct': True, 'date': 1631865581654, 'query': 'select * from Ghosts order by year, name asc'}], 'task-010': [{'correct': True, 'date': 1631865655347, 'query': 'select distinct name from Ghosts where year = 1833'}], 'task-011': [{'correct': True, 'date': 1631865709705, 'query': 'select distinct * from Ghosts where year = 1650'}], 'task-012': [{'correct': False, 'date': 1631865761188, 'query': "SELECT DISTINCT FROM Ghosts NAME WHERE YEAR='1650' ORDER BY NAME DESC"}, {'correct': True, 'date': 1631865769822, 'query': "SELECT DISTINCT NAME FROM Ghosts WHERE YEAR='1650' ORDER BY NAME DESC"}], 'task-013': [{'correct': False, 'date': 1631865982824, 'query': 'select * from Ghosts where year >1699 and year <1800 order by year desc name asc'}, {'correct': False, 'date': 1631866008765, 'query': 'select * from Ghosts where year >1699 and year <1800 order by year desc and name asc'}, {'correct': False, 'date': 1631866010359, 'query': 'select * from Ghosts where year >1699 and year <1800 order by year desc and name asc'}, {'correct': False, 'date': 1631866011121, 'query': 'select * from Ghosts where year >1699 and year <1800 order by year desc and name asc'}, {'correct': True, 'date': 1631866071457, 'query': 'select * from Ghosts where year between 1599 and 1699 order by year desc, name asc'}], 'task-014': [{'correct': False, 'date': 1631866123632, 'query': 'select name form ghosts where year = 1777 order by name asc'}, {'correct': False, 'date': 1631866144503, 'query': 'select name from ghosts where year = 1777 order by name asc'}, {'correct': True, 'date': 1631866168203, 'query': 'select distinct name from ghosts where year = 1777 order by name asc'}], 'task-015': [{'correct': True, 'date': 1631866239673, 'query': 'select * from  Ghosts where name = "Veronika" and Year between 1699 and 1799'}], 'task-016': [{'correct': False, 'date': 1631866307935, 'query': 'select name form Wizards where skill < 4 order by skill ask'}, {'correct': False, 'date': 1631866317652, 'query': 'select name from Wizards where skill < 4 order by skill ask'}, {'correct': True, 'date': 1631866390465, 'query': 'select name from Wizards where skill < 4 order by skill asc'}, {'correct': True, 'date': 1631866399054, 'query': 'select name from Wizards where skill < 4 order by skill asc'}], 'task-017': [{'correct': False, 'date': 1631866456102, 'query': 'select count name where year is between 1599 and 1699'}, {'correct': False, 'date': 1631866470546, 'query': 'select count name where year is between 1599 and 1699'}, {'correct': False, 'date': 1631866471599, 'query': 'select count name where year is between 1599 and 1699'}, {'correct': False, 'date': 1631866472488, 'query': 'select count name where year is between 1599 and 1699'}, {'correct': False, 'date': 1631866499254, 'query': 'select count name from Ghosts where year between 1599 and 1699'}, {'correct': False, 'date': 1631866520596, 'query': 'select count (name) from Ghosts where year between 1599 and 1699'}, {'correct': True, 'date': 1631866584663, 'query': 'select count (distinct name) from Ghosts where year between 1599 and 1699'}, {'correct': False, 'date': 1631866595725, 'query': 'select count distinct name from Ghosts where year between 1599 and 1699'}, {'correct': True, 'date': 1631866642831, 'query': 'select count (distinct name) from Ghosts where year between 1599 and 1699'}], 'task-018': [{'correct': False, 'date': 1631867072677, 'query': "SELECT MIN YEAR FROM GHOSTS WHERE (YEAR) BETWEEN '1700' AND '1800'"}, {'correct': True, 'date': 1631867104025, 'query': "SELECT MIN (YEAR) FROM GHOSTS WHERE YEAR BETWEEN '1700' AND '1800'"}], 'task-019': [{'correct': False, 'date': 1631867217743, 'query': 'select sum(murdered) from Ghosts where name = Siegfried'}, {'correct': False, 'date': 1631867233065, 'query': 'select sum(murdered) from Ghosts where name = Siegfried'}, {'correct': True, 'date': 1631867246523, 'query': 'select sum(murdered) from Ghosts where name = "Siegfried"'}], 'task-020': [{'correct': True, 'date': 1631867313768, 'query': 'select max(year) from ghosts where year between 1600 and 1699'}], 'task-021': [{'correct': False, 'date': 1631867359786, 'query': 'select count(name) from ghost where murdered >= 2'}, {'correct': True, 'date': 1631867370940, 'query': 'select count(name) from ghosts where murdered >= 2'}], 'task-022': [{'correct': False, 'date': 1631867804451, 'query': 'SELECT COUNT (*) FROM GHOSTS WHERE YEAR BETWEEN 1700 1800 AND'}, {'correct': True, 'date': 1631867817379, 'query': 'SELECT COUNT (*) FROM GHOSTS WHERE YEAR BETWEEN 1700 AND 1800'}], 'task-023': [{'correct': True, 'date': 1631867948068, 'query': 'select min(year), max(year)  from Ghosts'}], 'task-024': [{'correct': True, 'date': 1631869833216, 'query': 'select min(name) from ghosts order by name asc'}, {'correct': True, 'date': 1631869834519, 'query': 'select min(name) from ghosts order by name asc'}]}
7

In [64]:
df_structure= df_structure.astype({"date1":int})

In [65]:
df_structure.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5989 entries, 1 to 5989
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   log_id   5989 non-null   object
 1   correct  5989 non-null   object
 2   query    5989 non-null   object
 3   date1    5989 non-null   int64
 4   task     5989 non-null   object
dtypes: int64(1), object(4)
memory usage: 280.7+ KB

In [66]:
df_structure

,log_id,correct,query,date1,task
1,6123b80df66ddb7127c2abfd,False,from ghosts SELECT name,1629799177614,task-000
2,6123b80df66ddb7127c2abfd,True,SELECT name from ghosts,1629799183760,task-000
3,6123b80df66ddb7127c2abfd,True,SELECT north_zone.squaremeter/count(*) FROM (S...,1641556069420,task-086
4,6123b80df66ddb7127c2abfd,False,SELECT p.name FROM GHOSTS g INNER JOIN PLACES ...,1641657641744,task-051
5,6123b80df66ddb7127c2abfd,True,SELECT p.name FROM GHOSTS g INNER JOIN PLACES ...,1641657666159,task-051
...,...,...,...,...,...
5985,6205117f1c2f8b6e27ef4b2d,False,"SELECT title, name FROM song WHERE language = ...",1644500979984,task-044
5986,6205117f1c2f8b6e27ef4b2d,True,"SELECT title, name FROM song INNER JOIN interp...",1644500994863,task-044
5987,6205117f1c2f8b6e27ef4b2d,False,"SELECT a.title, s.rating, s.title",1644501145215,task-045
5988,6205117f1c2f8b6e27ef4b2d,False,"SELECT a.title, s.rating, s.title FROM song s ...",1644501179493,task-045
5989,6205117f1c2f8b6e27ef4b2d,True,"SELECT a.title, s.rating, s.title FROM song s ...",1644501196742,task-045

In [67]:
#Date1 in Datetime (UTC)
for i in range(1, (len(df_structure)+1)):
    df_structure["date1"][i] = datetime.datetime.fromtimestamp(df_structure["date1"][i] / 1000).strftime('%d/%m/%y %H:%M:%S')

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_1091/3310210478.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_structure["date1"][i] = datetime.datetime.fromtimestamp(df_structure["date1"][i] / 1000).strftime('%d/%m/%y %H:%M:%S')
/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [68]:
df_structure.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5989 entries, 1 to 5989
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   log_id   5989 non-null   object
 1   correct  5989 non-null   object
 2   query    5989 non-null   object
 3   date1    5989 non-null   object
 4   task     5989 non-null   object
dtypes: object(5)
memory usage: 409.8+ KB

In [69]:
#Verbiungstabelle erstellen
log_id_dict = {}
id = 0
df_structure["log_id"] = 0
for i in range(1, len(df_structure["log_id"])+1):
    id += 1
    df_structure["log_id"][i] = id
    if df_structure["log_id"][i] not in log_id_dict:
        log_id_dict.update({df_structure["log_id"][i]:[id]})
    else:
        log_id_dict[df_structure["log_id"][i]].append(id)

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_1091/1818635466.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_structure["log_id"][i] = id

In [70]:
#Verbindungstabelle erstellen aus log_id_dict
df_connection = pd.DataFrame(columns=["id", "user_id", "log_id"])
id = 0
for i in log_id_dict.keys():
    for n in log_id_dict[i]:
        new_line = pd.DataFrame({"id": id, "log_id": i, "id_list": n}, index=[id])
        df_connection = df_connection.append(new_line)
        id += 1

In [71]:
df_connection

        id user_id log_id  id_list
0        0     NaN      1      1.0
1        1     NaN      2      2.0
2        2     NaN      3      3.0
3        3     NaN      4      4.0
4        4     NaN      5      5.0
...    ...     ...    ...      ...
5984  5984     NaN   5985   5985.0
5985  5985     NaN   5986   5986.0
5986  5986     NaN   5987   5987.0
5987  5987     NaN   5988   5988.0
5988  5988     NaN   5989   5989.0

[5989 rows x 4 columns]

In [72]:
df_structure

,log_id,correct,query,date1,task
1,1,False,from ghosts SELECT name,24/08/21 11:59:37,task-000
2,2,True,SELECT name from ghosts,24/08/21 11:59:43,task-000
3,3,True,SELECT north_zone.squaremeter/count(*) FROM (S...,07/01/22 12:47:49,task-086
4,4,False,SELECT p.name FROM GHOSTS g INNER JOIN PLACES ...,08/01/22 17:00:41,task-051
5,5,True,SELECT p.name FROM GHOSTS g INNER JOIN PLACES ...,08/01/22 17:01:06,task-051
...,...,...,...,...,...
5985,5985,False,"SELECT title, name FROM song WHERE language = ...",10/02/22 14:49:39,task-044
5986,5986,True,"SELECT title, name FROM song INNER JOIN interp...",10/02/22 14:49:54,task-044
5987,5987,False,"SELECT a.title, s.rating, s.title",10/02/22 14:52:25,task-045
5988,5988,False,"SELECT a.title, s.rating, s.title FROM song s ...",10/02/22 14:52:59,task-045
5989,5989,True,"SELECT a.title, s.rating, s.title FROM song s ...",10/02/22 14:53:16,task-045

In [73]:
df_connection.to_csv(path_or_buf="df_connection.csv", sep=";")

In [74]:
df_structure.to_csv(path_or_buf="log_data.csv", sep=",")