In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_json("book-progression.json", orient="records")

In [16]:
df

   id                                              tasks requires
0   A                                              [000]       []
1   B  [001, 002, 003, 004, 005, 006, 007, 008, 009, ...      [A]
2   C  [013, 014, 015, 016, 017, 018, 019, 020, 021, ...      [A]
3   D      [025, 026, 027, 028, 029, 030, 031, 032, 033]      [A]
4   E           [034, 035, 036, 037, 038, 039, 040, 041]      [A]
5   H                [051, 052, 053, 054, 055, 056, 057]      [A]
6   F  [059, 060, 061, 062, 043, 063, 044, 045, 046, ...      [A]
7   K  [090, 091, 092, 093, 094, 095, 096, 097, 098, ...      [A]
8   G  [050, 068, 069, 070, 071, 072, 073, 074, 075, ...      [A]
9   J  [077, 078, 079, 080, 081, 082, 083, 084, 085, ...      [A]
10  I                                    [058, 101, 102]      [A]

In [17]:
df_book = df[["id", "requires"]]

In [18]:
df_book.rename(columns={"id": "book_id"})

   book_id requires
0        A       []
1        B      [A]
2        C      [A]
3        D      [A]
4        E      [A]
5        H      [A]
6        F      [A]
7        K      [A]
8        G      [A]
9        J      [A]
10       I      [A]

In [19]:
#requires from book change type from list to string
df_book["requires"] = df_book["requires"].apply(lambda x: ",".join(x))

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_12831/3732579735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_book["requires"] = df_book["requires"].apply(lambda x: ",".join(x))

In [20]:
#drop empty row in requires
df_book["requires"][0] = np.nan
df_book = df_book.dropna(subset=["requires"])

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_12831/3666414311.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_book["requires"][0] = np.nan

In [21]:
df_book

   id requires
1   B        A
2   C        A
3   D        A
4   E        A
5   H        A
6   F        A
7   K        A
8   G        A
9   J        A
10  I        A

In [48]:
df = df.drop(columns=["requires"])

In [60]:
df_tasks = pd.DataFrame(columns=["book_id", "tasks"])
for i in range(len(df)):
    for n in range(len(df["tasks"][i])):
        new_line = {"book_id":df["id"][i], "tasks":df["tasks"][i][n]}
        df_tasks = df_tasks.append(new_line, ignore_index=True)

In [61]:
df_tasks

   book_id tasks
0        A   000
1        B   001
2        B   002
3        B   003
4        B   004
..     ...   ...
95       J   085
96       J   086
97       I   058
98       I   101
99       I   102

[100 rows x 2 columns]

In [63]:
df_book

   id requires
0   A       []
1   B      [A]
2   C      [A]
3   D      [A]
4   E      [A]
5   H      [A]
6   F      [A]
7   K      [A]
8   G      [A]
9   J      [A]
10  I      [A]

In [62]:
df_tasks.to_csv(path_or_buf="book_task.csv", sep=",")

In [22]:
df_book.to_csv(path_or_buf="book_requires.csv", sep=",")