In [23]:
import pandas as pd
import pymongo
import time
import sys
# Provide the mongodb atlas url to connect python to mongodb using pymongo
CONNECTION_STRING = "mongodb+srv://user1:enterdbddi@cluster0.wq2aw.mongodb.net/?retryWrites=true&w=majority"
# Create a connection using MongoClient. You can import MongoClient or use pymongo.MongoClient
client = pymongo.MongoClient(CONNECTION_STRING)

In [24]:
mydb = client["ddi"]
mycol = mydb["log_usr"]

match = {
    "$match":{
        "correct":False
    }
}

pipeline = [
    match
    ]


start = time.time()
myaggr = mycol.aggregate(pipeline)
end = time.time()
print(end - start)

pd.DataFrame(myaggr)

0.5420360565185547

,_id,user,correct,query,date1,task
0,627b79ef80a77d86b426b554,6130bb10f66ddb7ebdc2abff,False,select name from ghosts where year <= 1777 and...,02/09/21 14:03:51,005
1,627b79ef80a77d86b426b54a,6123b80df66ddb7127c2abfd,False,SELECT p.name FROM GHOSTS g INNER JOIN PLACES ...,08/01/22 17:00:41,051
2,627b79ef80a77d86b426b582,6144422771a7ccfe4b1a3bd3,False,select name from Ghosts where id=2 or id=5,17/09/21 09:46:54,004
3,627b79ef80a77d86b426b583,6144422771a7ccfe4b1a3bd3,False,select name from Ghosts where id=2 or id=4,17/09/21 09:47:37,004
4,627b79ef80a77d86b426b589,6144422771a7ccfe4b1a3bd3,False,select name from Ghosts where id=2 or id=5,17/09/21 09:49:31,004
...,...,...,...,...,...,...
3368,627b79f080a77d86b426ccdb,6204d64d1c2f8bbb93ef4b2c,False,"select title, rating from song",10/02/22 10:41:53,061
3369,627b79f080a77d86b426cce5,6204d64d1c2f8bbb93ef4b2c,False,"SELECT title, name FROM song, interpret ON int...",10/02/22 11:02:44,044
3370,627b79f080a77d86b426ccf9,6205117f1c2f8b6e27ef4b2d,False,FROM ghost SELECT year ORDER BY year DESC,10/02/22 14:25:38,042
3371,627b79f080a77d86b426ccfe,6205117f1c2f8b6e27ef4b2d,False,"SELECT song_id, title FROM song WHERE title LI...",10/02/22 14:27:45,043
3372,627b79f080a77d86b426cd03,6205117f1c2f8b6e27ef4b2d,False,"SELECT title, name FROM song, interpret WHERE ...",10/02/22 14:48:59,044

Aufgabe 1

In [25]:
mydb = client["ddi"]
mycol = mydb["log_usr"]

group1 = {
        '$group': {
            '_id': '$user',
            'n_tasks': {
                '$sum': 1
            }
        }
    }

group2 = {
        '$group': {
            '_id': 'n_tasks',
            'avg_tasks': {
                '$avg': '$n_tasks'
            },
            'min_tasks': {
                '$min': '$n_tasks'
            },
            'max_tasks': {
                '$max': '$n_tasks'
            }
        }
    }



pipeline = [
    group1,
    group2
    ]

start = time.time()
myaggr = mycol.aggregate(pipeline)
end = time.time()
print(end - start)
pd.DataFrame(myaggr)

0.04689598083496094

       _id  avg_tasks  min_tasks  max_tasks
0  n_tasks  95.063492          1        305

In [26]:
#Aufgabe 2
group = {
        '$group': {
            '_id': '$user',
            'zahler': {
                '$sum': 1
            }
        }
    }
lookup = {
        '$lookup': {
            'from': 'log_usr',
            'localField': '_id',
            'foreignField': 'user',
            'as': 'Aufgabe'
        }
    }
unwind = {
        '$unwind': {
            'path': '$Aufgabe'
        }
    }
match = {
        '$match': {
            'Aufgabe.correct': False
        }
    }
group2 = {
        '$group': {
            '_id': '$_id',
            'alle': {
                '$first': '$zahler'
            },
            'falsche': {
                '$sum': 1
            }
        }
    }
project = {
        '$project': {
            '_id': 1,
            'result': {
                '$multiply': [
                    {
                        '$divide': [
                            '$falsche', '$alle'
                        ]
                    }, 100
                ]
            }
        }
    }


pipeline = [
    group,
    lookup,
    unwind,
    match,
    group2,
    project
    ]

start = time.time()
myaggr = mycol.aggregate(pipeline)
end = time.time()
print(end - start)
pd.DataFrame(myaggr)

0.4298679828643799

                         _id     result
0   618e36a8179df7b4d32bf375  63.333333
1   61532ba5aed2c63b0360d1f4  45.833333
2   61532915aed2c634bc60d1f2  64.615385
3   620238171c2f8b358bef4b26  40.000000
4   614d8203aed2c6ee5a60d1e2  25.000000
5   61e2ffcb1c2f8b0a74ef4b11  46.875000
6   61530ed1aed2c6b35d60d1e8  53.846154
7   6130bb10f66ddb7ebdc2abff  43.478261
8   6144425171a7cc77571a3bd5  51.063830
9   6144422771a7ccfe4b1a3bd3  62.337662
10  61e9289f1c2f8b78d3ef4b15  56.969697
11  6152fa6daed2c6c78460d1e5  55.000000
12  615332fbaed2c6272b60d1f5  65.333333
13  61faa7481c2f8b69a6ef4b20  60.869565
14  614d824aaed2c66fce60d1e3  20.754717
15  6204c6c41c2f8b688bef4b29  36.000000
16  6159aa5faed2c676da60d1f6  54.491018
17  61f253241c2f8b3c09ef4b1d  55.128205
18  6144440571a7cc5b5d1a3bd6  40.259740
19  614d81aaaed2c6593360d1e1  66.666667
20  61532608aed2c65dd660d1ef   7.142857
21  61fd7faf1c2f8b1cdbef4b23  72.131148
22  61e91f601c2f8baf00ef4b14  53.030303
23  6152fa76aed2c674dd60d1e6  63.247863
24  61dd35551c2f8b1658ef4b09  67.555556
25  61dd3c951c2f8bbaebef4b0b  63.106796
26  6204c8811c2f8ba5d1ef4b2a  50.344828
27  61f282641c2f8b666fef4b1f  48.633880
28  61dd9e361c2f8b252cef4b0e  39.568345
29  61f14da41c2f8b88c3ef4b1c  68.888889
30  6153296caed2c6e83460d1f3  20.000000
31  61ed64d11c2f8bd269ef4b19  52.985075
32  6130c0d5f66ddb9bf3c2ac00  30.769231
33  61f253321c2f8b3399ef4b1e  59.607843
34  61e876271c2f8bd130ef4b12  67.857143
35  61dda8671c2f8b27d1ef4b0f  42.857143
36  61fff28b1c2f8bc720ef4b24  86.524823
37  61ebdb7d1c2f8b1cf7ef4b17  55.769231
38  6204d5011c2f8b4689ef4b2b  60.185185
39  615325f6aed2c69e1460d1ee  55.652174
40  6205117f1c2f8b6e27ef4b2d  77.272727
41  6123b80df66ddb7127c2abfd  40.000000
42  61ee809c1c2f8b8105ef4b1a  43.258427
43  61efb2f51c2f8bcf02ef4b1b  59.605911
44  61dd3ff51c2f8b8476ef4b0c  61.397059
45  615325d2aed2c650d260d1ea  70.329670
46  620053711c2f8b55d2ef4b25  52.000000
47  61dd76241c2f8b1372ef4b0d  58.823529
48  615325efaed2c64f7760d1eb  32.000000
49  62027c451c2f8b30b4ef4b27  50.000000
50  6203d57d1c2f8b5aa1ef4b28  35.714286
51  6204d64d1c2f8bbb93ef4b2c  66.666667
52  6144422d71a7cc59d51a3bd4  50.819672
53  615325f0aed2c6a05060d1ec  23.214286
54  61e9a9211c2f8b16aaef4b16  47.619048
55  61fabc261c2f8b4ea8ef4b21  37.869822
56  61fac2ac1c2f8b8526ef4b22  41.269841
57  61ed24871c2f8b1138ef4b18  55.932203
58  615325c4aed2c615d360d1e9  45.833333
59  615325f0aed2c61a5d60d1ed  48.314607

Aufgabe 3

In [29]:
match = {
        '$match': {
            'correct': True
        }
    }
group = {
        '$group': {
            '_id': {
                'user': '$user',
                'task': '$task'
            }
        }
    }
lookup = {
        '$lookup': {
            'from': 'BOOK_TASKS',
            'localField': '_id.task',
            'foreignField': 'tasks',
            'as': 'book'
        }
    }
unwind = {
        '$unwind': {
            'path': '$book'
        }
    }
group2 = {
        '$group': {
            '_id': {
                'user': '$_id.user',
                'book': '$book.book_id'
            },
            'count': {
                '$sum': 1
            }
        }
    }
lookup2 ={
        '$lookup': {
            'from': 'Progression',
            'localField': '_id.book',
            'foreignField': 'id',
            'as': 'book'
        }
    }
unwind2 = {
        '$unwind': {
            'path': '$book'
        }
    }
undwind3 = {
        '$unwind': {
            'path': '$book.tasks'
        }
    }
group3 = {
        '$group': {
            '_id': {
                'user': '$_id.user',
                'book': '$book.id',
                'count_tasks': '$count'
            },
            'count_book': {
                '$sum': 1
            }
        }
    }
project = {
        '$project': {
            '_id.book': {
                '$cond': {
                    'if': {
                        '$eq': [
                            '$_id.count_tasks', '$count_book'
                        ]
                    },
                    'then': '$_id.book',
                    'else': 'not_comp'
                }
            },
            '_id.count_tasks': 1,
            'count_book': 1,
            '_id.user': 1
        }
    }
group4 = {
        '$group': {
            '_id': '$_id.user',
            'amout_of_users_all_comp': {
                '$sum': 1
            }
        }
    }

pipeline = [
    match,
    group,
    lookup,
    unwind,
    group2,
    lookup2,
    unwind2,
    undwind3,
    group3,
    project,
    group4
    ]

start = time.time()
myaggr = mycol.aggregate(pipeline)
end = time.time()
print(end - start)
pd.DataFrame(myaggr)

0.28738927841186523

                         _id  amout_of_users_all_comp
0   61ed64d11c2f8bd269ef4b19                        7
1   61dd9e361c2f8b252cef4b0e                        8
2   61f14da41c2f8b88c3ef4b1c                        8
3   61f282641c2f8b666fef4b1f                        8
4   6153296caed2c6e83460d1f3                        2
..                       ...                      ...
58  61e876271c2f8bd130ef4b12                        5
59  61dda8671c2f8b27d1ef4b0f                        3
60  6130c0d5f66ddb9bf3c2ac00                        3
61  61f253321c2f8b3399ef4b1e                        8
62  61fff28b1c2f8bc720ef4b24                        4

[63 rows x 2 columns]

Aufgabe 4

In [37]:
match = {
        '$match': {
            'correct': True
        }
    }
group = {
        '$group': {
            '_id': {
                'user': '$user',
                'task': '$task'
            }
        }
    }
lookup = {
        '$lookup': {
            'from': 'BOOK_TASKS',
            'localField': '_id.task',
            'foreignField': 'tasks',
            'as': 'book'
        }
    }
unwind = {
        '$unwind': {
            'path': '$book'
        }
    }
group2 = {
        '$group': {
            '_id': {
                'user': '$_id.user',
                'book': '$book.book_id'
            },
            'count': {
                '$sum': 1
            }
        }
    }
lookup2 = {

        '$lookup': {
            'from': 'Progression',
            'localField': '_id.book',
            'foreignField': 'id',
            'as': 'book'
        }
    }
unwind2 = {
        '$unwind': {
            'path': '$book'
        }
    }
unwind3 = {
        '$unwind': {
            'path': '$book.tasks'
        }
    }
group3 = {
        '$group': {
            '_id': {
                'user': '$_id.user',
                'book': '$book.id',
                'count_tasks': '$count'
            },
            'count_book': {
                '$sum': 1
            }
        }
    }
project = {
        '$project': {
            '_id.book': {
                '$cond': {
                    'if': {
                        '$eq': [
                            '$_id.count_tasks', '$count_book'
                        ]
                    },
                    'then': '$_id.book',
                    'else': 'not_comp'
                }
            },
            '_id.count_tasks': 1,
            'count_book': 1,
            '_id.user': 1
        }
    }
group4 = {
        '$group': {
            '_id': '$_id.book',
            'amout_of_users_all_comp': {
                '$sum': 1
            }
        }
    }

#exlude not_comp
match2 = {
    "$match": {
        "_id": {
            "$ne": "not_comp"
        }
    }
}

pipeline = [
    match,
    group,
    lookup,
    unwind,
    group2,
    lookup2,
    unwind2,
    unwind3,
    group3,
    project,
    group4,
    match2
    ]

start = time.time()
myaggr = mycol.aggregate(pipeline)
end = time.time()
print(end - start)
pd.DataFrame(myaggr)

0.36653780937194824

  _id  amout_of_users_all_comp
0   J                       16
1   F                       14
2   E                       31
3   H                       19
4   D                       32
5   C                       34
6   A                       63
7   B                       21

Aufgabe 5

In [ ]:


pipeline = [

    ]

start = time.time()
myaggr = mycol.aggregate(pipeline)
end = time.time()
print(end - start)
pd.DataFrame(myaggr)

Aufgabe 6

In [27]:

match ={
        '$match': {
            'correct': False
        }
    }
group = {
        '$group': {
            '_id': '$task',
            'amount': {
                '$sum': 1
            }
        }
    }
sort = {
        '$sort': {
            'amount': -1
        }
    }
limit = {
        '$limit': 1
    }

pipeline = [
    match,
    group,
    sort,
    limit
    ]

start = time.time()
myaggr = mycol.aggregate(pipeline)
end = time.time()
print(end - start)
pd.DataFrame(myaggr)

0.0419771671295166

   _id  amount
0  086     240